{
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md(x)?",
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    }
  ],
  "plugins": ["prettier-plugin-packagejson", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@(mutates)/(.*)$",
    "",
    "^[./]"
  ]
}
